

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}



.Nav-Bar {
    background-color: #fffc00;

    display: flex;

    margin: auto;
    margin-top: 0px;

    height: 60px;
    width: 100%;
}


.Grid-Iocn-And-Logo {
    display: flex;
    
    margin: auto;
    margin-left: 20px;

    gap: 20px;
}

.Grid-Menu-Icon-Container {
    border: 1px solid black;
    border-radius: 50%;

    display: flex;

    margin: auto;

    height: 40px;
    width: 40px;
}

#Grid-Menu-Icon {
    margin: auto;
    
    height: 20px;
    width: 20px;
}

#Snapchat-Icon {
    margin: auto;

    height: 40px;

}

/* NAVLINK CONTAINER START */

.Wrapper {
    display: flex;
    margin: auto;
    margin-right: 20px;
}

.NavLink-Container {

    display: flex;

    gap: 30px;
    padding: 10px;

    margin: auto;
    margin-right: 30px;
}

.NavLink-Container > .Arrow-Link {
    display: flex;
    position: relative;

    width: 80px;
}

.NavLink-Container > .Arrow-Link > #NavLink {
    margin-left: 0px;
}


.Expand-Arrow {
    position: absolute;

    top: 6%;
    right: 0px;

    height: 18px;
    width: 18px;
}

.Up-Arrow {
    display: none;
}

#NavLink {
    color: black;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 500;
    

    margin: auto;
}

#NavLink:hover {
    border-bottom: 1px solid black;
}

.NavLink-Container > .Arrow-Link:hover #NavLink {
    border-bottom: 1px solid black;
}

.NavLink-Container > .Arrow-Link:hover .Down-Arrow {
    display: none;
}

.NavLink-Container > .Arrow-Link:hover .Up-Arrow {
    display: block;
}

.Download-Button {
    background-color: black;
    border-radius: 30px;

    display: flex;

    padding: 10px;

    margin: auto;

    width: 150px;
}
.Download-Button > p {
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;

    margin: auto;
}
/* NAVLINK CONTAINER END */