

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.Introduction-Section {
    display: flex;

    gap: 50px;

    margin: auto;
    margin-top: 200px;
    margin-bottom: 200px;

    width: 1180px;

    transition: .5s;
}

#Intro-Image {
    border-radius: 10px;
    margin: auto;

    height: 550px;
    width: 300px;
}

.Introduction-Information-Box {

    display: flex;
    flex-direction: column;


    margin: auto;

}

#Intro-Header-Title {
    color: black;
    font-family: sans-serif;
    font-size: 64px;
    font-weight: 600;

    margin-bottom: 10px;
}

#Intro-Header-SubTitle {
    color: black;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 600;
}


.Learn-More-Button {
    background-color: black;
    border-radius: 30px;

    display: flex;

    padding: 12px 48px;

    margin: auto;
    margin-top: 20px;
    margin-left: 0px;

    width: 200px;
    transition: .3s;
}

.Learn-More-Button > p {
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;

    margin: auto;
}

.Learn-More-Button:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    transform: translateY(-3px);
}



.Join-Now-Button {
    background-color: black;
    border-radius: 30px;

    display: flex;

    padding: 12px 48px;

    margin: auto;
    margin-top: 30px;

    width: 180px;
    transition: .3s;

    display: none;
}

.Join-Now-Button > p {
    color: white;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;

    margin: auto;
}

.Join-Now-Button:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    transform: translateY(-3px);
}




@media only screen and (max-width: 1230px) {
    .Introduction-Section {
        margin-top: 200px;
        width: 90%;
    }
}

@media only screen and (max-width: 820px) {
    .Introduction-Section {
        gap: 25px;
    }

    #Intro-Header-Title {
        font-size: 50px;
    }   
}

@media only screen and (max-width: 690px) {
    #Intro-Image{
        display: none;
    }

    .Introduction-Information-Box {
        gap: 10px;
    }

    #Intro-Header-Title {
        font-size: 30px;
        text-align: center;
        font-weight: 500;
    }   

    #Intro-Header-SubTitle {
        font-size: 16px;
        text-align: center;
        font-weight: 400;
    }   

    .Learn-More-Button {
        margin: auto;
        display: none;

    }

    .Join-Now-Button {
        margin: auto;
        margin-top: 20px;
        display: block;

    }
}
