

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.Footer {
    background-color: white;
    
    display: flex;
    flex-direction: column;


    margin: auto;
    margin-bottom: 0px;

    width: 100%;
}

.CCA, .LL {
    display: flex;
    flex-wrap: wrap;

    padding: 10px;


    margin: auto;
    margin-top: 20px;

    width: 90%;
}

.Label-Links {
    display: flex;
    flex-direction: column;

    margin: auto;
    margin-top: 0px;
} 

.Label-Links > span {
    color: black;
    font-size: 14px;
    font-weight: 700;

    margin: auto;
    margin-bottom: 10px;
    margin-left: 0px;
}


.Label-Links > li > a  {
    color: black;
    font-size: 14px;
    font-weight: 400;
}

.Label-Links > li > a:hover  {
    border-bottom: 1px solid black;
}

.First-Label {
    margin-right: 50px;
    width: 100px;
}

.First-Label-Legal {
    margin-left: 20px;
}

.Language-Selector {
    display: flex;
    flex-direction: column;

    margin: auto;
    margin-top: 0px;
}

.Language-Selector > span {
    color: black;
    font-size: 14px;
    font-weight: 700;

    margin: auto;
    margin-bottom: 10px;
    margin-left: 0px;
}

#Box {
    border: none;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    width: 100px;
}

.Privacy-TOS {
    background-color: black;
    display: flex;

    padding: 10px;
    gap: 30px;

    margin: auto;
    margin-bottom: 0px;

    width: 100%;
}

.Privacy-TOS > p {
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;

    margin: auto;
}

#Privacy-Policy {

}


.Accordion {
    display: flex;
   display: none;
}

/* .Item {
    display: flex;
    flex-direction: column;
} */

.Accordion-Header {
    margin: auto;
}

.Accordion-Body {
   display: flex;
}

.Links {
    margin: auto;
}

.Links > li > a {
    color: black;
    font-size: 14px;
    font-weight: 400;
}

.Mobile-Language-Selector {
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 14px;
    font-weight: 700;

    margin: auto;
    margin-bottom: 10px;

    display: none;
}


.Mobile-Language-Selector > span {
    color: black;
    font-size: 14px;
    font-weight: 700;

    margin: auto;
    margin-bottom: 10px;
    margin-top: 0px;
}

@media only screen and (max-width: 690px) {
    .Mobile-Language-Selector {
        display: flex;
    }
    .CCA, .LL {
        display: none;
    }
    .Accordion {
        display: block;
    }
}