

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.Footer {
    border: 1px solid black;
    background-color: white;
    
    display: flex;
    flex-direction: column;

    padding: 20px;

    margin: auto;
    margin-bottom: 0px;

    height: 470px;
    width: 100%;
}

.CCA, .LL {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;

    padding: 10px;
    gap: 30px;

    margin: auto;

    width: 100%;
}

.Label-Links {
    display: flex;
    flex-direction: column;

    margin: auto;
    margin-top: 0px;
} 

.Label-Links > span {
    color: black;
    font-size: 14px;
    font-weight: 700;

    margin: auto;
    margin-bottom: 10px;
    margin-left: 0px;
}


.Label-Links > li > a  {
    color: black;
    font-size: 14px;
    font-weight: 400;
}

.Label-Links > li > a:hover  {
    border-bottom: 1px solid black;
}

.First-Label {
    margin-right: 50px;
    width: 100px;
}

.First-Label-Legal {
    margin-left: 20px;
}

.Language-Selector {
    display: flex;
    flex-direction: column;

    margin: auto;
    margin-top: 0px;
}

.Language-Selector > span {
    color: black;
    font-size: 14px;
    font-weight: 700;

    margin: auto;
    margin-bottom: 10px;
    margin-left: 0px;
}

#Box {
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    width: 100px;
}